body {
    /*background-image: url('img/99px_ru_wallpaper_221797_temnie_silueti_elej_na_fone_zvezdnogo_neba_v.jpg'); !* Путь к изображению *!*/
    /*background-size: cover; !* Изображение будет покрывать весь экран *!*/
    /*background-position: center; !* Центрируем изображение *!*/
    /*height: 100vh;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Светлый фон для контраста */
}

.img-logo {
    cursor: pointer;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

header {
    display: flex;
    gap: 100px;
    width: 100%; /* Убедитесь, что header занимает всю ширину */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

.left-section, .right-section {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.left-section {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
}

.rename-button,
.rename-input {
    text-decoration: none;
    font-size: 15px;
    padding: 5px 5px;
}

.rename-button {
    background-color: #009578; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

.header-text,
.header-button,
.drop-zone-button {
    text-decoration: none;
    font-size: 20px;
    padding: 5px 5px;
}

.header-input {
    width: 180px;
    font-size: 20px;
}

.header-button {
    background-color: #009578; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
}

.content-container {
    gap: 100px;
    display: flex; /* Flexbox для размещения секций в ряд */
    width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
    box-sizing: border-box;
}

.left-content, .right-content {
    width: 50%; /* Каждая секция занимает 50% ширины контейнера */
    box-sizing: border-box;
    padding: 10px; /* Добавьте отступы по необходимости */
}

.left-content {
    display: flex;
    flex-direction: column; /* Вертикальное расположение дочерних элементов */
    border: 5px solid #009578;
    border-radius: 5px;
    font-size: 20px;
}

.left-content a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.left-content a:hover {
    text-decoration: underline;
}

.top-left-content {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
}

.back-arrow {
    margin-right: 10px; /* Отступ справа от изображения */
    width: 50px; /* Устанавливаем ширину изображения (по желанию) */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.right-content {
    display: flex;
    flex-direction: column; /* Вертикальное расположение дочерних элементов */
}

.item-container {
    height: 50px;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по краям */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin: 0;
}

.form-container {
    display: flex;
    gap: 5px;
}

.top-left-content {
    display: flex;
}

.hidden {
    display: none;
}

.drop-zone {
    max-width: 100%;
    height: 100px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: 5px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.load-form-container {
    margin-bottom: 20px;
    width: 100%;
}

.drop-zone-button {
    width: 200px;
    display: block;
    margin: 10px auto 0;
    background-color: #009578; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона кнопки */
}

.drop-zone-button:hover {
    background-color: #007a63; /* Цвет фона кнопки при наведении */
}
