<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ошибка</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8d7da;
      color: #721c24;
      padding: 20px;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
    }
    h1 {
      color: #721c24;
    }
  </style>
</head>
<body>
<h1>EXCEPTION!!!</h1>
<p th:text="${errorMessage}"></p>
<!--<p th:text="${errorCode}"></p>-->
<a href="/">Back to home page</a>
<br><br>
</body>
</html>